/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* MENU */
.menu {
    position: fixed;
    top: 20px;
    left: 20px;
    color: white;
    z-index: 100;
}

.menu a {
    text-decoration: none;
    color: inherit;
}


/* CITY */
.city-container {
    position: relative;
    /* width: calc(100% - 20px); */
    height: calc(100vh - 20px);
    margin: 10px;
    background-color: aquamarine;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.city-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
}

#roma {
    background-image: url(../img/roma.jpg);
}

#napoli {
    background-image: url(../img/napoli.png);
}

#milano {
    background-image: url(../img/milano.jpg);
}

.city-container h2 {
    /* Invece della classe utility */
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    font-size: 2em;
    color: white;
}